# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

/cover.out
/coverage.out
/coverage-all.out
vendor/

# Service specific binaries
cmd/video/video
cmd/mail/mail
cmd/user/user
cmd/transcode/transcode
cmd/video-apd/video-api
cmd/user-api/user-api
cmd/lesson/lesson

.env
.env-docker
.DS_Store
*.rsa
*.rsa.pub

docker-compose.local.yml
docker-compose.swarm.yml

#IDE files
*.iml
.idea/
data/
