language: go

services:
  - docker

go:
  - "1.10"

before_install:
  - bash bin/install-protobuf.sh
  - go get -u github.com/golang/dep/cmd/dep
  - go get -u github.com/golang/protobuf/protoc-gen-go
  - go get -u github.com/micro/protoc-gen-micro
  - export PATH=$PATH:$HOME/protobuf/bin

script:
  - make proto
  - make all

after_success:
  - make docker

