<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

</head>

<body>
<p>
    <h2>Welcome to EduConn, {{.Name}}!</h2>
</p>
<p>
    We are glad you joined our platform and hope you enjoy using it as much as we enjoy building it.<br>
    You only need to activate your account to get started. Simply click the link below.<br><br>

    <a href="{{.URL}}">Confirm email address</a>
</p>

<p>
    Cheers,
    The EduConn team
</p>

</body>

</html>